.App {
  text-align: center;
}
.App > div > h1 {
  margin-top: 2rem;
  font-style: italic;
}

.InputLabel {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.LabelHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.InputField {
  text-align: center;
  margin-top: 0.5rem;
}

.StartButton {
  background-color: green;
  color: white;
  border-radius: 50%;
  font-size: x-large;
  padding: 0.5rem;
}

.InfoDisplay {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.TimerDisplays {
  display: flex;
  flex-direction: row;
  justify-content: center;
}